In [ ]:
pip install plotly

In [ ]:
pip install nbformat>=4.2.0

In [1]:
import requests 
import json 
import pandas as pd
import time
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno
from scipy.stats import chi2_contingency
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MinMaxScaler
from kmodes.kprototypes import KPrototypes
from sklearn.neighbors import NearestNeighbors
from random import sample
from numpy.random import uniform
import numpy as np
from math import isnan
from statsmodels.graphics.mosaicplot import mosaic
from pandas.plotting import parallel_coordinates
import prince
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\Reputation System\\final\\filecoin_messages_filrep_subset_expanded.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9249 entries, 0 to 9248
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                9249 non-null   object
 1   account             9249 non-null   object
 2   address             9249 non-null   object
 3   type                9249 non-null   object
 4   id                  9249 non-null   int64
 5   name                4943 non-null   object
 6   overEstimationBurn  9249 non-null   float64
 7   refundDecimal       9249 non-null   float64
 8   refund              9249 non-null   float64
 9   amountDecimal       9249 non-null   float64
 10  burnedDecimal       9249 non-null   float64
 11  signature           0 non-null      float64
 12  signedHash          0 non-null      float64
 13  success             9249 non-null   bool
 14  minerPenalty        9249 non-null   float64
 15  minerTip            9249 non-null   float64
 16  exitCode            9249 non-null   int64
 17  gas                 9249 non-null   int64
 18  baseFeeBurn         9249 non-null   float64
dtypes: bool(1), float64(10), int64(3), object(5)
memory usage: 1.3+ MB

In [3]:
df.drop(columns=["signature","signedHash"])

,date,account,address,type,id,name,overEstimationBurn,refundDecimal,refund,amountDecimal,burnedDecimal,success,minerPenalty,minerTip,exitCode,gas,baseFeeBurn
0,2022-01-14,f01690871,f1mehp56ehavkv5z5o5le2m2p4maihs4wvaueqgca,fil/6/account,0,Transfer,1.711591e-05,2.978389e-02,2.978389e-02,8.500000,2.149793e-04,True,0.0,1.133129e-06,0,2107818,1.978634e-04
1,2022-01-23,f01690871,f1mehp56ehavkv5z5o5le2m2p4maihs4wvaueqgca,fil/6/account,0,Transfer,1.829900e-12,6.050803e-10,6.050803e-10,3.000000,5.062670e-11,True,0.0,6.121864e-08,0,487968,4.879680e-11
2,2023-06-07,f02184150,f02184150,unknown,7,NaN,2.657745e-03,6.632164e-01,6.632164e-01,2.849631,4.534713e-02,True,0.0,6.748478e-03,0,109642303,4.268939e-02
3,2023-06-07,f02184150,f02184150,unknown,6,NaN,6.382062e-04,4.553172e-01,4.553172e-01,0.188188,3.304033e-02,True,0.0,4.612768e-03,0,82242160,3.240212e-02
4,2023-06-07,f02184150,f02184150,unknown,5,NaN,7.524221e-05,2.577048e-01,2.577048e-01,0.000000,3.843367e-03,True,0.0,2.332455e-03,0,43984000,3.768124e-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9244,2023-07-23,f02072747,f02072747,unknown,5,NaN,7.013471e-06,2.307290e-03,2.307290e-03,0.000000,2.023877e-04,True,0.0,1.440166e-04,0,20479238,1.953742e-04
9245,2023-07-24,f02072747,f02072747,unknown,5,NaN,1.024804e-07,3.074162e-05,3.074162e-05,0.000000,2.954811e-06,True,0.0,7.549692e-05,0,20477938,2.852331e-06
9246,2023-07-25,f02072747,f02072747,unknown,5,NaN,2.083251e-06,7.045433e-04,7.045433e-04,0.000000,6.011637e-05,True,0.0,5.036854e-05,0,20479238,5.803312e-05
9247,2023-07-25,f02072747,f02072747,unknown,16,NaN,1.086667e-06,3.199429e-04,3.199429e-04,0.000000,3.066037e-05,True,0.0,1.069255e-05,0,4281688,2.957370e-05
9248,2023-07-25,f02072747,f02072747,unknown,9,NaN,3.331506e-05,1.119858e-02,1.119858e-02,0.000000,9.240268e-04,True,0.0,6.644818e-04,0,268313742,8.907117e-04

In [4]:
df['success'] = df['success'].astype(int)

In [5]:
df.shape

(9249, 19)

In [6]:
#df_encoded.info()
null_values = df.isnull().sum()

# Display the count of null values for each column
print(null_values)

date                     0
account                  0
address                  0
type                     0
id                       0
name                  4306
overEstimationBurn       0
refundDecimal            0
refund                   0
amountDecimal            0
burnedDecimal            0
signature             9249
signedHash            9249
success                  0
minerPenalty             0
minerTip                 0
exitCode                 0
gas                      0
baseFeeBurn              0
dtype: int64

In [7]:
numerical_features = ['refund', 'refundDecimal', 'amountDecimal', 'burnedDecimal', 'overEstimationBurn', 'baseFeeBurn', 'minerPenalty', 'minerTip']

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the numerical features
df[numerical_features] = scaler.fit_transform(df[numerical_features])

In [8]:
df.head()

,date,account,address,type,id,name,overEstimationBurn,refundDecimal,refund,amountDecimal,burnedDecimal,signature,signedHash,success,minerPenalty,minerTip,exitCode,gas,baseFeeBurn
0,2022-01-14,f01690871,f1mehp56ehavkv5z5o5le2m2p4maihs4wvaueqgca,fil/6/account,0,Transfer,6.436331e-05,1.301048e-03,1.301048e-03,0.331793,1.480909e-04,NaN,NaN,1,0.0,5.427090e-06,0,2107818,1.414030e-04
1,2022-01-23,f01690871,f1mehp56ehavkv5z5o5le2m2p4maihs4wvaueqgca,fil/6/account,0,Transfer,6.881224e-12,2.643170e-11,2.643170e-11,0.117103,6.275459e-12,NaN,NaN,1,0.0,2.932049e-07,0,487968,5.202649e-12
2,2023-06-07,f02184150,f02184150,unknown,7,NaN,9.994282e-03,2.897125e-02,2.897125e-02,0.111234,3.123789e-02,NaN,NaN,1,0.0,3.232164e-02,0,109642303,3.050795e-02
3,2023-06-07,f02184150,f02184150,unknown,6,NaN,2.399934e-03,1.988960e-02,1.988960e-02,0.007346,2.276021e-02,NaN,NaN,1,0.0,2.209272e-02,0,82242160,2.315616e-02
4,2023-06-07,f02184150,f02184150,unknown,5,NaN,2.829436e-04,1.125731e-02,1.125731e-02,0.000000,2.647547e-03,NaN,NaN,1,0.0,1.117123e-02,0,43984000,2.692888e-03

In [9]:
attribute_df = df.loc[:, ['date', 'account','address','type','name']]
num_df = df.drop(columns=['date','account','address','type','name','signature','signedHash'])

In [10]:
print(num_df.isnull().sum())

id                    0
overEstimationBurn    0
refundDecimal         0
refund                0
amountDecimal         0
burnedDecimal         0
success               0
minerPenalty          0
minerTip              0
exitCode              0
gas                   0
baseFeeBurn           0
dtype: int64

In [11]:
def hopkins(X):
    d = X.shape[1]
    #d = len(vars) # columns
    n = len(X) # rows
    m = int(0.1 * n) # heuristic from article [1]
    nbrs = NearestNeighbors(n_neighbors=1).fit(X.values)
 
    rand_X = sample(range(0, n, 1), m)
 
    ujd = []
    wjd = []
    for j in range(0, m):
        u_dist, _ = nbrs.kneighbors(uniform(np.amin(X,axis=0),np.amax(X,axis=0),d).reshape(1, -1), 2, return_distance=True)
        ujd.append(u_dist[0][1])
        w_dist, _ = nbrs.kneighbors(X.iloc[rand_X[j]].values.reshape(1, -1), 2, return_distance=True)
        wjd.append(w_dist[0][1])
 
    H = sum(ujd) / (sum(ujd) + sum(wjd))
    if isnan(H):
        print(ujd, wjd)
        H = 0
 
    return H

In [12]:
hopkins(num_df)

0.9992851339851014

In [13]:
num_df.columns

Index(['id', 'overEstimationBurn', 'refundDecimal', 'refund', 'amountDecimal',
       'burnedDecimal', 'success', 'minerPenalty', 'minerTip', 'exitCode',
       'gas', 'baseFeeBurn'],
      dtype='object')

In [14]:
categorical_indices = [num_df.columns.get_loc(col) for col in ['id', 'success', 'exitCode']]
categorical_indices

[0, 6, 9]

In [15]:
num_df.columns

Index(['id', 'overEstimationBurn', 'refundDecimal', 'refund', 'amountDecimal',
       'burnedDecimal', 'success', 'minerPenalty', 'minerTip', 'exitCode',
       'gas', 'baseFeeBurn'],
      dtype='object')

In [16]:
clustered_num_df=num_df

In [69]:
kproto = KPrototypes(n_clusters=5, init='Cao', n_init=2, verbose=2, random_state=42)

# Fit the model
clusters = kproto.fit_predict(num_df.values, categorical=categorical_indices)

# Assign cluster labels to the DataFrame
df['clusters'] = clusters

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 1, iteration: 1/100, moves: 1219, ncost: 2.7624792002634084e+19
Run: 1, iteration: 2/100, moves: 711, ncost: 2.4312844727711896e+19
Run: 1, iteration: 3/100, moves: 951, ncost: 2.1700326822094086e+19
Run: 1, iteration: 4/100, moves: 555, ncost: 2.105290959738535e+19
Run: 1, iteration: 5/100, moves: 1077, ncost: 2.0059291650766373e+19
Run: 1, iteration: 6/100, moves: 610, ncost: 1.9786672108706234e+19
Run: 1, iteration: 7/100, moves: 492, ncost: 1.9599466268036133e+19
Run: 1, iteration: 8/100, moves: 448, ncost: 1.9462935919761736e+19
Run: 1, iteration: 9/100, moves: 94, ncost: 1.946071090273357e+19
Run: 1, iteration: 10/100, moves: 10, ncost: 1.945812211115369e+19
Run: 1, iteration: 11/100, moves: 4, ncost: 1.9457620269023744e+19
Run: 1, iteration: 12/100, moves: 0, ncost: 1.9457620269023744e+19
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run: 2, iteration: 1/100, moves: 1662, ncost: 2.3175656195040223e+19
Run: 2, iteration: 2/100, moves: 1249, ncost: 2.1622107736005526e+19
Run: 2, iteration: 3/100, moves: 537, ncost: 2.103505904558268e+19
Run: 2, iteration: 4/100, moves: 1077, ncost: 2.0051434047413277e+19
Run: 2, iteration: 5/100, moves: 605, ncost: 1.9786672108706234e+19
Run: 2, iteration: 6/100, moves: 492, ncost: 1.9599466268036133e+19
Run: 2, iteration: 7/100, moves: 448, ncost: 1.9462935919761736e+19
Run: 2, iteration: 8/100, moves: 94, ncost: 1.946071090273357e+19
Run: 2, iteration: 9/100, moves: 10, ncost: 1.945812211115369e+19
Run: 2, iteration: 10/100, moves: 4, ncost: 1.9457620269023744e+19
Run: 2, iteration: 11/100, moves: 0, ncost: 1.9457620269023744e+19
Best run was number 1

In [75]:
clustered_num_df['clusters'] = clusters

In [76]:
df['clusters'].value_counts()

clusters
0    4288
2    3287
4     908
3     533
1     233
Name: count, dtype: int64

Post Processing: K Means

In [77]:
import pandas as pd

# Assuming clustered_num_df is your DataFrame

# Select columns for one-hot encoding
columns_to_encode = ['id', 'success', 'exitCode']

# Perform one-hot encoding
one_hot_encoded_df = pd.get_dummies(clustered_num_df, columns=columns_to_encode)*1





# Now one_hot_encoded_kmeans contains dummy columns for method_id, success, and exitCode with values as 0 or 1

In [78]:
one_hot_encoded_df.head()

,overEstimationBurn,refundDecimal,refund,amountDecimal,burnedDecimal,minerPenalty,minerTip,gas,baseFeeBurn,clusters,...,id_16,id_18,id_23,id_25,success_0,success_1,exitCode_0,exitCode_6,exitCode_7,exitCode_16
0,6.436331e-05,1.301048e-03,1.301048e-03,0.331793,1.480909e-04,0.0,5.427090e-06,2107818,1.414030e-04,0,...,0,0,0,0,0,1,1,0,0,0
1,6.881224e-12,2.643170e-11,2.643170e-11,0.117103,6.275459e-12,0.0,2.932049e-07,487968,5.202649e-12,0,...,0,0,0,0,0,1,1,0,0,0
2,9.994282e-03,2.897125e-02,2.897125e-02,0.111234,3.123789e-02,0.0,3.232164e-02,109642303,3.050795e-02,4,...,0,0,0,0,0,1,1,0,0,0
3,2.399934e-03,1.988960e-02,1.988960e-02,0.007346,2.276021e-02,0.0,2.209272e-02,82242160,2.315616e-02,2,...,0,0,0,0,0,1,1,0,0,0
4,2.829436e-04,1.125731e-02,1.125731e-02,0.000000,2.647547e-03,0.0,1.117123e-02,43984000,2.692888e-03,2,...,0,0,0,0,0,1,1,0,0,0

In [79]:
one_hot_encoded_df.columns

Index(['overEstimationBurn', 'refundDecimal', 'refund', 'amountDecimal',
       'burnedDecimal', 'minerPenalty', 'minerTip', 'gas', 'baseFeeBurn',
       'clusters', 'id_0', 'id_3', 'id_4', 'id_5', 'id_6', 'id_7', 'id_8',
       'id_9', 'id_11', 'id_16', 'id_18', 'id_23', 'id_25', 'success_0',
       'success_1', 'exitCode_0', 'exitCode_6', 'exitCode_7', 'exitCode_16'],
      dtype='object')

In [80]:
import pandas as pd

# Assuming 'one_hot_encoded_df' is your DataFrame and 'clusters' is the column you're grouping by

# Group by 'clusters' and calculate mean for numeric columns and sum for binary columns for each group
grouped_df_comb = one_hot_encoded_df.groupby('clusters').agg({
    'refundDecimal': 'mean',
    'refund': 'mean',
    'amountDecimal': 'mean',
    'burnedDecimal': 'mean',
    'overEstimationBurn': 'mean',
    'baseFeeBurn': 'mean',
    'success_0': 'mean',
    'success_1': 'mean',
    'minerPenalty': 'mean',
    'minerTip': 'mean',
    'id_0': 'sum',
    'id_3': 'sum',
    'id_4': 'sum',
    'id_5': 'sum',
    'id_6': 'sum',
    'id_7': 'sum',
    'id_8': 'sum',
    'id_9': 'sum',
    'id_11': 'sum',
    'id_16': 'sum',
    'id_18': 'sum',
    'id_23': 'sum',
    'id_25': 'sum',
    'exitCode_0': 'sum',
    'exitCode_6': 'sum',
    'exitCode_7': 'sum',
})

# Reset index to make 'clusters' a regular column
grouped_df_comb.reset_index(inplace=True)

# Display the result
print(grouped_df_comb.head())

   clusters  refundDecimal    refund  amountDecimal  burnedDecimal  \
0         0       0.001966  0.001966       0.000363       0.002424
1         1       0.053451  0.053451       0.011922       0.076814
2         2       0.010156  0.010156       0.001109       0.008655
3         3       0.021158  0.021158       0.006557       0.029945
4         4       0.029028  0.029028       0.002871       0.022120

   overEstimationBurn  baseFeeBurn  success_0  success_1  minerPenalty  ...  \
0            0.001311     0.002266   0.010261   0.989739      0.000485  ...
1            0.014390     0.076955   0.004292   0.995708      0.000000  ...
2            0.001596     0.008676   0.000304   0.999696      0.000000  ...
3            0.005445     0.030031   0.000000   1.000000      0.000000  ...
4            0.004084     0.022172   0.001101   0.998899      0.000000  ...

   id_8  id_9  id_11  id_16  id_18  id_23  id_25  exitCode_0  exitCode_6  \
0     9    13    213    277      7     16      2        4244           1
1     1     2     11      0      0      0      0         232           0
2     7     7     11      1      0      0      1        3286           0
3     1     3     17      0      0      0      0         533           0
4     0     4      5      0      0      0      0         907           0

   exitCode_7
0           0
1           1
2           1
3           0
4           1

[5 rows x 27 columns]

In [87]:
print(grouped_df_comb)

   clusters  refundDecimal    refund  amountDecimal  burnedDecimal  \
0         0       0.001966  0.001966       0.000363       0.002424
1         1       0.053451  0.053451       0.011922       0.076814
2         2       0.010156  0.010156       0.001109       0.008655
3         3       0.021158  0.021158       0.006557       0.029945
4         4       0.029028  0.029028       0.002871       0.022120

   overEstimationBurn  baseFeeBurn  success_0  success_1  minerPenalty  ...  \
0            0.001311     0.002266   0.010261   0.989739      0.000485  ...
1            0.014390     0.076955   0.004292   0.995708      0.000000  ...
2            0.001596     0.008676   0.000304   0.999696      0.000000  ...
3            0.005445     0.030031   0.000000   1.000000      0.000000  ...
4            0.004084     0.022172   0.001101   0.998899      0.000000  ...

   id_8  id_9  id_11  id_16  id_18  id_23  id_25  exitCode_0  exitCode_6  \
0     9    13    213    277      7     16      2        4244           1
1     1     2     11      0      0      0      0         232           0
2     7     7     11      1      0      0      1        3286           0
3     1     3     17      0      0      0      0         533           0
4     0     4      5      0      0      0      0         907           0

   exitCode_7
0           0
1           1
2           1
3           0
4           1

[5 rows x 27 columns]

In [88]:

# Assuming you already have 'grouped_df_comb' DataFrame
# Initialize an empty DataFrame to store the rankings
mega_df_kmeans = pd.DataFrame()

rank_columns=['overEstimationBurn', 'refundDecimal', 'refund', 'amountDecimal',
       'burnedDecimal', 'minerPenalty', 'minerTip', 'baseFeeBurn', 'id_0', 'id_3', 'id_4', 'id_5', 'id_6', 'id_7', 'id_8',
       'id_9', 'id_11', 'id_16', 'id_18', 'id_23', 'id_25', 'success_0',
       'success_1', 'exitCode_0', 'exitCode_6', 'exitCode_7']

one_hot_encoded_df= grouped_df_comb[rank_columns].copy()

for i in rank_columns:
    # Group by 'K Means Class' and rank each column
    ranked_df = grouped_df_comb[i].rank(method='max', ascending=False)
    # Append the ranked column to mega_df
    mega_df_kmeans[i] = ranked_df

# Now mega_df contains the rankings for each column in columns_to_rank for each cluster
print(mega_df_kmeans)

   overEstimationBurn  refundDecimal  refund  amountDecimal  burnedDecimal  \
0                 5.0            5.0     5.0            5.0            5.0
1                 1.0            1.0     1.0            1.0            1.0
2                 4.0            4.0     4.0            4.0            4.0
3                 2.0            3.0     3.0            2.0            2.0
4                 3.0            2.0     2.0            3.0            3.0

   minerPenalty  minerTip  baseFeeBurn  id_0  id_3  ...  id_11  id_16  id_18  \
0           1.0       5.0          5.0   1.0   1.0  ...    1.0    1.0    1.0
1           5.0       1.0          1.0   5.0   5.0  ...    4.0    5.0    5.0
2           5.0       3.0          4.0   5.0   5.0  ...    4.0    2.0    5.0
3           5.0       4.0          2.0   5.0   5.0  ...    2.0    5.0    5.0
4           5.0       2.0          3.0   5.0   5.0  ...    5.0    5.0    5.0

   id_23  id_25  success_0  success_1  exitCode_0  exitCode_6  exitCode_7
0    1.0    1.0        1.0        5.0         1.0         1.0         5.0
1    5.0    5.0        2.0        4.0         5.0         5.0         3.0
2    5.0    2.0        4.0        2.0         2.0         5.0         3.0
3    5.0    5.0        5.0        1.0         4.0         5.0         5.0
4    5.0    5.0        3.0        3.0         3.0         5.0         3.0

[5 rows x 26 columns]

Without Weights / Without Customisation

In [95]:
positive_weight_columns = ['amountDecimal', 'success_1', 'minerTip', 'id_0', 'id_4',
                           'id_5', 'id_6' 'exitCode_0']

negative_weight_columns = ['refundDecimal', 'overEstimationBurn', 'success_0', 'minerPenalty', 'id_11',
                         'exitCode_6', 'exitCode_7']

In [96]:
for col in negative_weight_columns:
    mega_df_kmeans[col] *= -1  # Multiply the column by -1

# Now mega_df contains the rankings for each column
print(mega_df_kmeans)

   overEstimationBurn  refundDecimal  refund  amountDecimal  burnedDecimal  \
0                -5.0           -5.0     5.0            5.0            5.0
1                -1.0           -1.0     1.0            1.0            1.0
2                -4.0           -4.0     4.0            4.0            4.0
3                -2.0           -3.0     3.0            2.0            2.0
4                -3.0           -2.0     2.0            3.0            3.0

   minerPenalty  minerTip  baseFeeBurn  id_0  id_3  ...  id_11  id_16  id_18  \
0          -1.0       5.0          5.0   1.0   1.0  ...    1.0    1.0    1.0
1          -5.0       1.0          1.0   5.0   5.0  ...    4.0    5.0    5.0
2          -5.0       3.0          4.0   5.0   5.0  ...    4.0    2.0    5.0
3          -5.0       4.0          2.0   5.0   5.0  ...    2.0    5.0    5.0
4          -5.0       2.0          3.0   5.0   5.0  ...    5.0    5.0    5.0

   id_23  id_25  success_0  success_1  exitCode_0  exitCode_6  exitCode_7
0    1.0    1.0       -1.0        5.0         1.0        -1.0        -5.0
1    5.0    5.0       -2.0        4.0         5.0        -5.0        -3.0
2    5.0    2.0       -4.0        2.0         2.0        -5.0        -3.0
3    5.0    5.0       -5.0        1.0         4.0        -5.0        -5.0
4    5.0    5.0       -3.0        3.0         3.0        -5.0        -3.0

[5 rows x 26 columns]

In [91]:
# Define the mapping dictionary
value_mapping = {1: 4, 2: 3, 3: 2, 4: 1, 5: 0, -1:-4, -2:-3, -3:-2, -4:-1, -5:0}

# Apply the mapping to the DataFrame
mapped_df = mega_df_kmeans.replace(value_mapping)

# Print the mapped DataFrame
print(mapped_df)

   overEstimationBurn  refundDecimal  refund  amountDecimal  burnedDecimal  \
0                 0.0            0.0     0.0            0.0            0.0
1                -4.0           -4.0     4.0            4.0            4.0
2                -1.0           -1.0     1.0            1.0            1.0
3                -3.0           -2.0     2.0            3.0            3.0
4                -2.0           -3.0     3.0            2.0            2.0

   minerPenalty  minerTip  baseFeeBurn  id_0  id_3  ...  id_11  id_16  id_18  \
0          -4.0       0.0          0.0   4.0   4.0  ...    4.0    4.0    4.0
1           0.0       4.0          4.0   0.0   0.0  ...    1.0    0.0    0.0
2           0.0       2.0          1.0   0.0   0.0  ...    1.0    3.0    0.0
3           0.0       1.0          3.0   0.0   0.0  ...    3.0    0.0    0.0
4           0.0       3.0          2.0   0.0   0.0  ...    0.0    0.0    0.0

   id_23  id_25  success_0  success_1  exitCode_0  exitCode_6  exitCode_7
0    4.0    4.0       -4.0        0.0         4.0         4.0         0.0
1    0.0    0.0       -3.0        1.0         0.0         0.0         2.0
2    0.0    3.0       -1.0        3.0         3.0         0.0         2.0
3    0.0    0.0        0.0        4.0         1.0         0.0         0.0
4    0.0    0.0       -2.0        2.0         2.0         0.0         2.0

[5 rows x 26 columns]

In [97]:
mapped_df['sum'] = mapped_df.sum(axis=1)

# Print the DataFrame with the new 'sum' column
print(mapped_df)

   overEstimationBurn  refundDecimal  refund  amountDecimal  burnedDecimal  \
0                 0.0            0.0     0.0            0.0            0.0
1                -4.0           -4.0     4.0            4.0            4.0
2                -1.0           -1.0     1.0            1.0            1.0
3                -3.0           -2.0     2.0            3.0            3.0
4                -2.0           -3.0     3.0            2.0            2.0

   minerPenalty  minerTip  baseFeeBurn  id_0  id_3  ...  id_16  id_18  id_23  \
0          -4.0       0.0          0.0   4.0   4.0  ...    4.0    4.0    4.0
1           0.0       4.0          4.0   0.0   0.0  ...    0.0    0.0    0.0
2           0.0       2.0          1.0   0.0   0.0  ...    3.0    0.0    0.0
3           0.0       1.0          3.0   0.0   0.0  ...    0.0    0.0    0.0
4           0.0       3.0          2.0   0.0   0.0  ...    0.0    0.0    0.0

   id_25  success_0  success_1  exitCode_0  exitCode_6  exitCode_7   sum
0    4.0       -4.0        0.0         4.0         4.0         0.0  48.0
1    0.0       -3.0        1.0         0.0         0.0         2.0  15.0
2    3.0       -1.0        3.0         3.0         0.0         2.0  34.0
3    0.0        0.0        4.0         1.0         0.0         0.0  21.0
4    0.0       -2.0        2.0         2.0         0.0         2.0  20.0

[5 rows x 27 columns]

In [ ]:
#what if i remove the exit codes
without_exit=mapped_df.drop(columns=['exitCode_5', 'exitCode_6', 'exitCode_7', 'exitCode_8',
                           'exitCode_16', 'exitCode_17', 'exitCode_18', 'exitCode_19', 'exitCode_20', 'exitCode_21',
                           'exitCode_22', 'exitCode_32', 'exitCode_33', 'exitCode_34', 'exitCode_36'])
without_exit['sum'] = without_exit.sum(axis=1)

# Print the DataFrame with the new 'sum' column
print(without_exit)

   refundDecimal  amountDecimal  burnedDecimal  overEstimationBurn  \
0           -2.0            2.0            2.0                -1.0
1           -1.0            1.0            1.0                -2.0
2            0.0            4.0            0.0                 0.0
3           -4.0            3.0            4.0                -3.0
4           -3.0            0.0            3.0                -4.0

   baseFeeBurn  success_0  success_1  minerPenalty  minerTip  method_id_0  \
0          3.0        0.0        4.0          -2.0       2.0          4.0
1          0.0       -2.0        2.0          -1.0       1.0          0.0
2          1.0       -3.0        0.0           0.0       0.0          3.0
3          4.0       -1.0        3.0          -4.0       4.0          2.0
4          2.0       -3.0        0.0          -3.0       3.0          0.0

   ...  method_id_5  method_id_6  method_id_11  method_id_15  method_id_19  \
0  ...          4.0          4.0          -4.0          -4.0           4.0
1  ...          3.0          3.0          -3.0          -2.0           3.0
2  ...          1.0          1.0          -1.0           0.0           0.0
3  ...          2.0          2.0          -2.0          -3.0           2.0
4  ...          0.0          0.0           0.0           0.0           0.0

   method_id_21  method_id_22  exitCode_0  count   sum
0           4.0          -4.0         4.0    4.0  52.0
1           0.0           0.0         2.0    2.0   7.0
2           0.0           0.0         0.0    1.0  -4.0
3           0.0           0.0         3.0    3.0  15.0
4           0.0           0.0         0.0    0.0 -14.0

[5 rows x 22 columns]

In [98]:
clustered_num_df.columns

Index(['id', 'overEstimationBurn', 'refundDecimal', 'refund', 'amountDecimal',
       'burnedDecimal', 'success', 'minerPenalty', 'minerTip', 'exitCode',
       'gas', 'baseFeeBurn', 'clusters'],
      dtype='object')

In [102]:
mapping = {
    0: 1,
    1: 0.5,
    2: 0.25,
    3: 0.75,
    4: 0
}

# Map 'K Means Class' column
clustered_num_df['clusters'] = clustered_num_df['clusters'].map(mapping)

print(clustered_num_df)

      id  overEstimationBurn  refundDecimal        refund  amountDecimal  \
0      0        6.436331e-05   1.301048e-03  1.301048e-03       0.331793
1      0        6.881224e-12   2.643170e-11  2.643170e-11       0.117103
2      7        9.994282e-03   2.897125e-02  2.897125e-02       0.111234
3      6        2.399934e-03   1.988960e-02  1.988960e-02       0.007346
4      5        2.829436e-04   1.125731e-02  1.125731e-02       0.000000
...   ..                 ...            ...           ...            ...
9244   5        2.637372e-05   1.007893e-04  1.007893e-04       0.000000
9245   5        3.853713e-07   1.342885e-06  1.342885e-06       0.000000
9246   5        7.833936e-06   3.077654e-05  3.077654e-05       0.000000
9247  16        4.086345e-06   1.397605e-05  1.397605e-05       0.000000
9248   9        1.252792e-04   4.891870e-04  4.891870e-04       0.000000

      burnedDecimal  success  minerPenalty      minerTip  exitCode        gas  \
0      1.480909e-04        1           0.0  5.427090e-06         0    2107818
1      6.275459e-12        1           0.0  2.932049e-07         0     487968
2      3.123789e-02        1           0.0  3.232164e-02         0  109642303
3      2.276021e-02        1           0.0  2.209272e-02         0   82242160
4      2.647547e-03        1           0.0  1.117123e-02         0   43984000
...             ...      ...           ...           ...       ...        ...
9244   1.394170e-04        1           0.0  6.897633e-04         0   20479238
9245   2.035427e-06        1           0.0  3.615904e-04         0   20477938
9246   4.141182e-05        1           0.0  2.412387e-04         0   20479238
9247   2.112072e-05        1           0.0  5.121167e-05         0    4281688
9248   6.365264e-04        1           0.0  3.182517e-03         0  268313742

       baseFeeBurn  clusters
0     1.414030e-04      1.00
1     5.202649e-12      1.00
2     3.050795e-02      0.00
3     2.315616e-02      0.25
4     2.692888e-03      0.25
...            ...       ...
9244  1.396241e-04      1.00
9245  2.038387e-06      1.00
9246  4.147331e-05      1.00
9247  2.113480e-05      1.00
9248  6.365467e-04      0.75

[9249 rows x 13 columns]

In [103]:

final_scores= pd.concat([clustered_num_df, attribute_df], axis=1)

# Reset index after concatenation
final_scores.reset_index(drop=True, inplace=True)

# Display the concatenated DataFrame
print(final_scores)

      id  overEstimationBurn  refundDecimal        refund  amountDecimal  \
0      0        6.436331e-05   1.301048e-03  1.301048e-03       0.331793
1      0        6.881224e-12   2.643170e-11  2.643170e-11       0.117103
2      7        9.994282e-03   2.897125e-02  2.897125e-02       0.111234
3      6        2.399934e-03   1.988960e-02  1.988960e-02       0.007346
4      5        2.829436e-04   1.125731e-02  1.125731e-02       0.000000
...   ..                 ...            ...           ...            ...
9244   5        2.637372e-05   1.007893e-04  1.007893e-04       0.000000
9245   5        3.853713e-07   1.342885e-06  1.342885e-06       0.000000
9246   5        7.833936e-06   3.077654e-05  3.077654e-05       0.000000
9247  16        4.086345e-06   1.397605e-05  1.397605e-05       0.000000
9248   9        1.252792e-04   4.891870e-04  4.891870e-04       0.000000

      burnedDecimal  success  minerPenalty      minerTip  exitCode        gas  \
0      1.480909e-04        1           0.0  5.427090e-06         0    2107818
1      6.275459e-12        1           0.0  2.932049e-07         0     487968
2      3.123789e-02        1           0.0  3.232164e-02         0  109642303
3      2.276021e-02        1           0.0  2.209272e-02         0   82242160
4      2.647547e-03        1           0.0  1.117123e-02         0   43984000
...             ...      ...           ...           ...       ...        ...
9244   1.394170e-04        1           0.0  6.897633e-04         0   20479238
9245   2.035427e-06        1           0.0  3.615904e-04         0   20477938
9246   4.141182e-05        1           0.0  2.412387e-04         0   20479238
9247   2.112072e-05        1           0.0  5.121167e-05         0    4281688
9248   6.365264e-04        1           0.0  3.182517e-03         0  268313742

       baseFeeBurn  clusters        date    account  \
0     1.414030e-04      1.00  2022-01-14  f01690871
1     5.202649e-12      1.00  2022-01-23  f01690871
2     3.050795e-02      0.00  2023-06-07  f02184150
3     2.315616e-02      0.25  2023-06-07  f02184150
4     2.692888e-03      0.25  2023-06-07  f02184150
...            ...       ...         ...        ...
9244  1.396241e-04      1.00  2023-07-23  f02072747
9245  2.038387e-06      1.00  2023-07-24  f02072747
9246  4.147331e-05      1.00  2023-07-25  f02072747
9247  2.113480e-05      1.00  2023-07-25  f02072747
9248  6.365467e-04      0.75  2023-07-25  f02072747

                                        address           type      name
0     f1mehp56ehavkv5z5o5le2m2p4maihs4wvaueqgca  fil/6/account  Transfer
1     f1mehp56ehavkv5z5o5le2m2p4maihs4wvaueqgca  fil/6/account  Transfer
2                                     f02184150        unknown       NaN
3                                     f02184150        unknown       NaN
4                                     f02184150        unknown       NaN
...                                         ...            ...       ...
9244                                  f02072747        unknown       NaN
9245                                  f02072747        unknown       NaN
9246                                  f02072747        unknown       NaN
9247                                  f02072747        unknown       NaN
9248                                  f02072747        unknown       NaN

[9249 rows x 18 columns]

In [104]:
final_scores.columns

Index(['id', 'overEstimationBurn', 'refundDecimal', 'refund', 'amountDecimal',
       'burnedDecimal', 'success', 'minerPenalty', 'minerTip', 'exitCode',
       'gas', 'baseFeeBurn', 'clusters', 'date', 'account', 'address', 'type',
       'name'],
      dtype='object')

In [105]:
#To check if mapping is correct
value_counts1 = final_scores['clusters'].value_counts()

print(value_counts1)

clusters
1.00    4288
0.25    3287
0.00     908
0.75     533
0.50     233
Name: count, dtype: int64

In [108]:
grouped = final_scores.groupby('account').agg({
    'date': 'count', 'clusters':'mean'})

In [111]:

grouped.rename(columns={'date': 'count'}, inplace=True)
print(grouped.sort_values(by='clusters', ascending=True))

           count  clusters
account
f0116445     411  0.156326
f023869      487  0.219199
f023928      445  0.237640
f023858      434  0.281106
f024148      408  0.305760
f054526      241  0.420124
f02387       675  0.473704
f0471691     501  0.541916
f01501611    673  0.552006
f022853      255  0.573529
f024146      411  0.618613
f029416      772  0.628562
f0117318     386  0.698834
f024511      235  0.705319
f0728347      99  0.795455
f02184150    198  0.838384
f01399784    185  0.839189
f0835643     678  0.877581
f02072747    139  0.935252
f01136409    266  0.952068
f01812283     18  0.958333
f02388       118  0.978814
f01096727    217  0.981567
f0115238     260  0.993269
f030649      162  0.993827
f01437863    135  0.994444
f034777      177  0.998588
f023983       80  1.000000
f01690871      2  1.000000
f015747      181  1.000000

In [114]:
grouped.sort_values(by='clusters', ascending=True).to_csv("C:\\Users\\Lenovo\\Desktop\\Reputation System\\final\\filrepalgoresults.csv")

In [117]:
final_scores.head()

,id,overEstimationBurn,refundDecimal,refund,amountDecimal,burnedDecimal,success,minerPenalty,minerTip,exitCode,gas,baseFeeBurn,clusters,date,account,address,type,name
0,0,6.436331e-05,1.301048e-03,1.301048e-03,0.331793,1.480909e-04,1,0.0,5.427090e-06,0,2107818,1.414030e-04,1.00,2022-01-14,f01690871,f1mehp56ehavkv5z5o5le2m2p4maihs4wvaueqgca,fil/6/account,Transfer
1,0,6.881224e-12,2.643170e-11,2.643170e-11,0.117103,6.275459e-12,1,0.0,2.932049e-07,0,487968,5.202649e-12,1.00,2022-01-23,f01690871,f1mehp56ehavkv5z5o5le2m2p4maihs4wvaueqgca,fil/6/account,Transfer
2,7,9.994282e-03,2.897125e-02,2.897125e-02,0.111234,3.123789e-02,1,0.0,3.232164e-02,0,109642303,3.050795e-02,0.00,2023-06-07,f02184150,f02184150,unknown,NaN
3,6,2.399934e-03,1.988960e-02,1.988960e-02,0.007346,2.276021e-02,1,0.0,2.209272e-02,0,82242160,2.315616e-02,0.25,2023-06-07,f02184150,f02184150,unknown,NaN
4,5,2.829436e-04,1.125731e-02,1.125731e-02,0.000000,2.647547e-03,1,0.0,1.117123e-02,0,43984000,2.692888e-03,0.25,2023-06-07,f02184150,f02184150,unknown,NaN

In [127]:
sorted_df = final_scores.loc[final_scores["account"] == 'f0115238'].sort_values(by="account")
sorted_df.to_csv("C:\\Users\\Lenovo\\Desktop\\Reputation System\\final\\user analysis f0115238.csv").head(50)
sorted_df.head(50)

AttributeError: 'NoneType' object has no attribute 'head'

In [128]:

sorted_df = final_scores.loc[final_scores["account"] == 'f01812283'].sort_values(by="account")
sorted_df.to_csv("C:\\Users\\Lenovo\\Desktop\\Reputation System\\final\\user analysis f01812283.csv").head(50)

AttributeError: 'NoneType' object has no attribute 'head'

In [129]:
sorted_df = final_scores.loc[final_scores["account"] == 'f0116445'].sort_values(by="account")
sorted_df.to_csv("C:\\Users\\Lenovo\\Desktop\\Reputation System\\final\\user analysis f0116445.csv").head(50)

AttributeError: 'NoneType' object has no attribute 'head'

In [130]:
sorted_df = final_scores.loc[final_scores["account"] == 'f01096727'].sort_values(by="account")
sorted_df.to_csv("C:\\Users\\Lenovo\\Desktop\\Reputation System\\final\\user analysis f01096727.csv").head(50)

AttributeError: 'NoneType' object has no attribute 'head'